@import "../scss/theme";
@import "./scss/output-item";
:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .icon.header {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        margin-left: 8px;
    }
    .ellipsis-wrap {
        min-width: 0;
        text-overflow: ellipsis;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }
    .root {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &.mat-app-background {
            background-color: transparent;
        }
        .client {
            color: var(--vscode-editor-foreground);
            position: relative;
            overflow-x: hidden;
            overflow-y: auto; // padding: 16px;
            ::ng-deep {
                .renderjson {
                    font-family: var(--vscode-editor-font-family);
                    font-size: 14px;
                    span.object {
                        line-height: 160%;
                    }
                    span.object.syntax {
                        margin: 4px;
                    }
                    .disclosure {
                        margin: 4px;
                        padding: 1px 5px 0;
                        line-height: 100%;
                        margin-right: 8px;
                        text-decoration: none;
                        outline: none;
                        border-radius: 2px;
                        background: var(--vscode-editor-inactiveSelectionBackground);
                        &:hover {
                            text-decoration: none;
                            background: var(--vscode-editor-selectionBackground);
                        }
                    }
                }
            }
        }
        .top {
            padding: 8px; // background-color: rgba(0, 0, 0, 0.125);
            *:not(button):not(button) * {
                user-select: none;
                cursor: default;
            }
            .indicator {
                height: 16px;
                width: 16px;
                border-radius: 50%;
                border: 1px solid mat-color($background, 500);
                margin-right: 8px;
                box-sizing: border-box;
                &.active {
                    border: none;
                    background-color: #50fa7b;
                }
            }
            .disconnected {
                mat-icon {
                    margin-right: 8px;
                    margin-left: 8px;
                    color: mat-color($warn, 500);
                }
                .desc {
                    color: mat-color($background, 500);
                }
            }
            .connected {
                mat-icon {
                    margin-right: 8px;
                    margin-left: 8px;
                    color: #50fa7b;
                }
                .desc {
                    color: mat-color($background, 500);
                }
                .time {
                    color: mat-color($background, 500);
                }
            }
            button {
                margin-left: 8px;
                cursor: pointer;
            }
        }
        .bottom {
            position: relative;
            .actions {
                padding: 8px;
                z-index: 100;
                position: relative;
                *:not(button):not(button) * {
                    user-select: none;
                    cursor: default;
                }
                & > mat-icon {
                    user-select: none;
                    cursor: default;
                }
                button {
                    cursor: pointer;
                }
                .command {
                    margin-left: 8px;
                    margin-right: 8px;
                    padding: 4px;
                    color: var(--vscode-editor-foreground);
                    outline: none;
                    border: none;
                    background: transparent;
                    user-select: auto;
                    &.error {
                        color: mat-color($warn, 500);
                    }
                }
            }
        }
    }
}

::ng-deep .command-autocomplete {
    mat-option {
        // height: auto;
        .wrap {
            padding-top: 4px;
            padding-bottom: 4px;
            white-space: normal;
        }
    }
}
