<div class="root mat-app-background" fxLayout="column">
    <div class="top mat-body-1 mat-app-background" fxLayout="row" fxLayoutAlign="start center">
        <div class="icon header"></div>
        <div class="connection" fxFlex fxLayout="column">
            <div fxFlex></div>
            <div class="ellipsis-wrap">{{connectionDesc}}</div>
            <div fxLayout="row" class="disconnected" *ngIf="!(stateConnected | async) || (connectionData && !connectionData.state)" fxLayoutAlign="start center">
                <div class="mat-caption desc">Not connected</div>
                <mat-icon class="icon-18">warning</mat-icon>
            </div>
            <div fxLayout="row" class="connected" *ngIf="(stateConnected | async)===true" fxLayoutAlign="start center">
                <div class="mat-caption desc ellipsis-wrap">Connected in {{ connectionData.time }} ms</div>
                <mat-icon class="icon-18">check</mat-icon>
            </div>
            <div fxFlex></div>
        </div>

        <button mat-icon-button matTooltip="Clear output" matTooltipPosition="below" (click)="outputClear()">
            <mat-icon>clear_all</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Command reference" matTooltipPosition="below" (click)="helper.stateCommandReference.next(true)">
            <mat-icon>help_outline</mat-icon>
        </button>
    </div>
    <div #client fxFlex class="client">
        <div class="output-item" *ngFor="let i of output;trackBy:trackById;let ix=index;" [ngSwitch]="i.type">
            <div id="{{i.id}}" *ngSwitchCase="'infoSuccess'" class="emphisized infoSuccess mat-caption" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="icon-18">check</mat-icon>
                <div class="text" fxFlex>{{ i.data.text }}</div>
            </div>
            <div id="{{i.id}}" *ngSwitchCase="'infoError'" class="emphisized infoError mat-caption" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="icon-18">check</mat-icon>
                <div class="text" fxFlex>{{ i.data }}</div>
            </div>
            <div id="{{i.id}}" *ngSwitchCase="'request'" class="emphisized request mat-caption" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="icon-18">keyboard_arrow_right</mat-icon>
                <div class="command" [style.font-family]="codeFont">{{ i.data.command }}</div>
                <div class="args" [style.font-family]="codeFont">{{ i.data.args }}</div>
                <div fxFlex></div>
                <div class="request-result" *ngIf="i.data.resultType" fxLayout="row" fxLayoutAlign="start center">
                    <div class="time">{{ i.data.time }} ms</div>
                    <mat-icon class="icon-18 success" *ngIf="i.data.resultType==='success'">check</mat-icon>
                    <mat-icon class="icon-18 failure" *ngIf="i.data.resultType==='failure'">error_outline</mat-icon>
                </div>
            </div>
            <div id="{{i.id}}" *ngSwitchCase="'response'" class="response mat-caption" fxLayout="column">
                <div id="{{i.id}}-client" class="response-client">

                </div>
            </div>
        </div>
    </div>
    <div class="bottom" fxLayout="column">
        <log-selector [@animLog] *ngIf="helper.stateCommandLog | async" [items]="logCurrent"></log-selector>
        <div fxLayout="row" class="actions mat-app-background" fxLayoutAlign="start center">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <input id="command" tabindex="0" mat-input #command class="command mat-body-1" fxFlex [class.error]="commandLineError" [formControl]="commandControl"
                type="text" placeholder="Enter redis command..." autofocus/>

            <button mat-icon-button color="accent" [disabled]="(stateInputEnabled | async)===false" (click)="emitRedisExecute.next()">
            <mat-icon>keyboard_return</mat-icon>
        </button>
        </div>
    </div>
</div>
<command-reference [@animReference] *ngIf="helper.stateCommandReference | async"></command-reference>
